# Python 기초

### 사칙연산

In [12]:
# 덧셈
1+2

3

In [11]:
# 곱셈
2*3

6

In [10]:
#뺄셈
5-2

3

In [13]:
#실수 나눗셈
3/2

1.5

In [14]:
#정수 나눗셈의 나머지
5%2

1

In [15]:
#정수 나눗셈의 몫
5//2

2

## 변수에 대입하여 계산하기

In [18]:
# 변수에 정수를 할당하여 계산하기
var_1 = 2.5
var_2 = 5
var_1 + var_2

7.5

In [19]:
# 동일한 변수에 문자열을 할당하여 출력하기
var_1 = 'python'
var_1

'python'

### 변수의 자료형은 데이터형을 유추하여 자료형이 변경된다.
<hr/>

# 조건문

In [22]:
var_1 = 3

if var_1 > 1:
    print('var_1 is greater than 1')

var_1 is greater than 1

In [23]:
var_1 = 4
var_2 = 3

if var_1 >var_2 :
    print('var_1 is greater than var_2')

var_1 is greater than var_2

<hr/>

# 반복문

In [27]:
for i in [10, 20, 30] :
    print(i)

10
20
30

In [29]:
data = [10, 20, 30]
for i in data : 
    print(i)

10
20
30

In [26]:
i = 0 
while i<30 :
    i += 10
    print(i)

10
20
30

<hr/>

# 함수

In [31]:
def sumF(var01, var02):
    return var01 + var02

In [32]:
sumF(10,20)

30

In [33]:
sumF('a', 'b')

'ab'

In [39]:
sumF(10.2, 100)

110.2

In [38]:
'a' * 3

'aaa'