## range 함수
range(시작숫자, 끝숫자, 증가값) #기본 1씩증가

In [2]:
var = range(1,11)
var

range(1, 11)

In [3]:
#range의 범위를 list로 출력
list(range(1,11))

#리스트로 감싼다 파이썬에서는 리스트가 좋다!

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [5]:
list(range(10,0, -2))

[10, 8, 6, 4, 2]

In [6]:
list(range(0,10,-2)) #에러가 안나고 비어있는 리스트가 나옴!

[]

In [8]:
var[7:9]

range(8, 10)

In [9]:
type(var)

range

# for문에 range함수 사용하기

In [10]:
for i in range(1,11) :
    print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
for i in range(5) : 
    print(i)

0
1
2
3
4

In [13]:
# 1부터 10까지 수중 홀수 만 출력하기

for i in range(1,11,2) :
    print(i)

1
3
5
7
9

In [39]:
# 구구단 9단출력
for i in range(1,10) :
    print(9,'X',i,'=','%2d'%(9*i))

9 X 1 =  9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [29]:
print('aaa', end = ' ')
print('bbb')

aaa bbb

In [32]:
#구구단 결과만 출력
for i in range(2,10) : 
    for j in range(1,10) :
        print('%2d'%(i*j), end=" ")
    print()

 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

# for문에 list사용하기

In [33]:
test_list = ['one', 'two', 'three']

for i in test_list :
    print(i)

one
two
three

In [36]:
#평균 구하기
scores = [78, 85, 95, 65]
total = 0

for score in scores :
    total += score

print(total/len(scores))

80.75

## for문에 Tuple사용하기

In [37]:
var = [(1,2),(3,4),(5,6)]

for first, last in var :
    print(first, " : ", last)

1  :  2
3  :  4
5  :  6

In [40]:
sum1 = 0
for first, last in var :
    sum1 += first +last
    
print(sum1)

21

총 5명의 학생이 시험을 보았는데, 시험점수가 60점을 넘으면 합격이고,   
그렇지 않으면 불학격이다.   
합격, 불학격 결과 보여주기

In [49]:
scores = [90, 25, 67, 45, 80]

for number in range(len(scores)):
    if scores[number] >= 60 :
        print('%d의 학생은 합격 입니다' %(number+1))
    else:
        print('%d의 학생은 불합격 입니다' %(number+1))

1의 학생은 합격 입니다
2의 학생은 불학격 입니다
3의 학생은 합격 입니다
4의 학생은 불학격 입니다
5의 학생은 합격 입니다

In [54]:
scores = [90,25,67,45,80]
number = 1
for score in scores:
    if score >= 60 :
        print('%d의 학생은 점수가 %d이므로 합격입니다'%(number,score))
    else :
        print('%d의 학생은 점수가 %d이므로 불합격입니다'%(number,score))
    number += 1

1의 학생은 점수가 90이므로 합격입니다
2의 학생은 점수가 25이므로 불합격입니다
3의 학생은 점수가 67이므로 합격입니다
4의 학생은 점수가 45이므로 불합격입니다
5의 학생은 점수가 80이므로 합격입니다

학생들 점수의 평균을 구하여 평균점수 기준으로 합격, 불학격 보여주기

In [59]:
import numpy as np

scores = [90,25,67,45,80]
number = 1
avg = np.mean(scores)

print('학급의 평균 점수는 %.1f 입니다'%avg)
print()

for score in scores :
    if score >= avg :
        print('%d의 학생은 점수가 %d이므로 합격입니다'%(number,score))
    else :
        print('%d의 학생은 점수가 %d이므로 불합격입니다'%(number,score))
    number += 1

학급의 평균 점수는 61.4 입니다

1의 학생은 점수가 90이므로 합격입니다
2의 학생은 점수가 25이므로 불합격입니다
3의 학생은 점수가 67이므로 합격입니다
4의 학생은 점수가 45이므로 불합격입니다
5의 학생은 점수가 80이므로 합격입니다

In [61]:
var01 = [1,2,3,4]
var02 = []
for i in var01:
    var02.append(i*5)

print(var02)

[5, 10, 15, 20]

# 파이썬의 listed for문

In [63]:
var01 = [1,2,3,4]
var02 = []

var02 = [i*5 for i in var01]
var02

[5, 10, 15, 20]

In [69]:
# 위의 소스에서 짝수인 경우에만 5를 곱하는 리스트 만들기

var01 = [1,2,3,4]
var02 = []

var02 = [i*5 for i in var01 if i%2==0]
var02

[10, 20]

In [79]:
#구구단 결과만 리스트로 만들기 (2단 ~ 9단)

arr = [i*j for i in range(2,10) for j in range(1,10)]
print(arr)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [81]:
#60점 이상의 학생점수만 list로 만들어 평균 구하기

import numpy as np

scores = [90,25,67,45,80]
passList = [score for score in scores if score >= 60]
print("합격한 학생들의 평균 점수는 %.2f입니다"%np.mean(passList))

합격한 학생들의 평균 점수는 79.00입니다